<!-- displaying the  details of an admin -->
<h1>Contact Details</h1> 

<!-- getting the details from the rest api and in the json data as contact -->
<ul>
  <li><strong>First Name:</strong> {{contact$.contact.fname}} </li>
  <li><strong>Last Name:</strong> {{contact$.contact.lname}} </li>
  <li><strong>Email ID:</strong> {{contact$.contact.email}} </li>
  <li><strong>Phone Number</strong> {{contact$.contact.number}} </li>
</ul>
<br>
<button type="button" class="btn btn-primary" [routerLink]="['/adminaddhotel']" routerLinkActive="router-link-active">Edit</button>
&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-success" [routerLink]="['/']" routerLinkActive="router-link-active">Delete</button>
&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-success" [routerLink]="['/adminhome']" routerLinkActive="router-link-active">Go back to hotel list</button>