
<!--A custom component for generating a receipt -->

<!--<div class="jumbotron text-xs-center">
  <h1 class="display-3">Dear Customer!! Thank You for booking with us! </h1>
  <p class="lead"><strong>Please check your email</strong> for booking confirmation and receipt information.</p>
  <hr>
  <p>
    Having trouble? <a href="">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue to homepage</a>
  </p>
</div>-->
<div class="header-custom email-signup-thankyou">
  <div class="content">
    <div class="left-hole"></div>
    <div class="right-hole"></div>
    <div class="main-content">
      <h1>Dear Customer!! Thank you for booking with us Successfully!! </h1>
      
      <p class="see">Please check your email for booking confirmation !!!.</p>


    </div>

  </div>
</div>