<!-- displaying the contact details for each contact -->
<h1>Hotel Details</h1> 

<!-- getting the details from the rest api and in the json data as contact -->
<ul>
  <li><strong>First Name:</strong> {{contact$.product.hotelname}} </li>
  <li><strong>Last Name:</strong> {{contact$.product.ratings}} </li>
  <li><strong>Email ID:</strong> {{contact$.product.description}} </li>
  <li><strong>Phone Number</strong> {{contact$.product.price}} </li>
</ul>
<br>
<button type="button" class="btn btn-primary" [routerLink]="['/accomodation']" routerLinkActive="router-link-active">Go Back</button>
&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-success" [routerLink]="['/confirmbooking']" routerLinkActive="router-link-active">Book Now</button>
